<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <base href="/">
  <title>Initial Server Setup</title>
  <meta name="description" content="Neutron is a ProtonMail compatible server. Set one up today at https://github.com/td512/neutron">
  <meta property="og:title" content="Initial Server Setup &bull; Neutron">
  <meta property="og:description" content="Neutron is a ProtonMail compatible server. Set one up today at https://github.com/td512/neutron">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://edge.exchangeonline.nz/images/proton-og-image.png">
  <meta property="og:image:alt" content="The shiny Proton logo">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@HelloChaseNZ">
  <meta name="twitter:title" content="Initial Server Setup &bull; Neutron">
  <meta name="twitter:description" content="Neutron is a ProtonMail compatible server. Set one up today at https://github.com/td512/neutron">
  <meta name="twitter:image" content="https://edge.exchangeonline.nz/images/proton-og-image.png">
  <meta name="twitter:image:alt" content="The shiny Proton logo">
  <meta property="og:locale" content="en_US">
  <meta name="google" content="notranslate">
  <link rel="icon" href="https://edge.exchangeonline.nz/images/favicon.ico" sizes="any">
  <link rel="icon" href="https://edge.exchangeonline.nz/images/f2c3f22a012a3f3ab6e1.svg" type="image/svg+xml">
  <link rel="manifest" href="https://edge.exchangeonline.nz/images/manifest.json" crossorigin="use-credentials">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#1b1340">
  <meta name="application-name" content="Neutron">
  <link rel="apple-touch-icon" sizes="57x57" href="https://edge.exchangeonline.nz/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://edge.exchangeonline.nz/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://edge.exchangeonline.nz/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://edge.exchangeonline.nz/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://edge.exchangeonline.nz/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://edge.exchangeonline.nz/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://edge.exchangeonline.nz/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://edge.exchangeonline.nz/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="https://edge.exchangeonline.nz/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://edge.exchangeonline.nz/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="https://edge.exchangeonline.nz/images/apple-touch-icon-1024x1024.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Neutron">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="msapplication-TileImage" content="https://edge.exchangeonline.nz/images/mstile-144x144.png">
  <meta name="msapplication-config" content="https://edge.exchangeonline.nz/images/browserconfig.xml">
  <link rel="yandex-tableau-widget" href="https://edge.exchangeonline.nz/yandex-browser-manifest.json" crossorigin="use-credentials">
  <link href="https://edge.exchangeonline.nz/css/index.css" rel="stylesheet">
</head>
<body>
<%= yield %>
</body>
</html>